
<section class="cart_grid_items">
   <h4>Recommended Items </h4>
{% if collections.best-sellers.products.size > 0 %}
<ul>
  
    {% for product in collections.best-sellers.products %}
        {% if prodtags contains 'Starter' and prodtags contains 'Home' and prodtags contains 'Active' %} 
          {% unless product.tags contains 'Starter' or product.tags contains 'Home' or product.tags contains 'Active'%}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
 		 {% elsif prodtags contains 'Starter' and prodtags contains 'Home'  %} 
          {% unless product.tags contains 'Starter' or product.tags contains 'Home' %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
  			{% elsif prodtags contains 'Starter' and prodtags contains 'Active'  %} 
          {% unless product.tags contains 'Starter' or product.tags contains 'Active' %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
    	{% elsif prodtags contains 'Active' and prodtags contains 'Home'  %} 
          {% unless product.tags contains 'Active' or product.tags contains 'Home' %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
  		{% elsif prodtags contains 'Home' %}
  		  {% unless product.tags contains 'Home'  %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
  		{% elsif prodtags contains 'Active' %}
  		  {% unless product.tags contains 'Active'  %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
  		{% elsif prodtags contains 'Starter' %}
  		  {% unless product.tags contains 'Starter'  %}
          <li class=" {% for tag in product.tags %}{{ tag | handleize }}  {% endfor %}">{% include 'product-grid-item-cart' %}</li>
          {% endunless %}
  
  		{% endif %} 
    {% endfor %}
  
  

</ul>       
{% endif %}
    
  
</section>
