
<header class="header">
  <h4>hijoey's Training Class</h4>
  <h1>Ever wonder what your best friend is thinking?<br>Let's find out together.</h1>
  <p>There's still a lot we don't know. Experiment with our open and evolving 
    frameworks and join the club so we can continue to learn together!</p>
</header>
<!---- Exit Multiple Class Wrapper---------->
</div>
</div>
</div>
</div>

<section class="products">
  <div class="products__navigation carousel_nav" data-flickity='{ "asNavFor": ".products__carousel", "contain": true, "cellAlign": "center", "pageDots": false, "prevNextButtons": false, "draggable": false }'>
    <button class="carousel-cell" >Pre-Training Worksheet</button>
    <button class="carousel-cell">Modeling Worksheet</button>
    <button class="carousel-cell">Targeting Worksheet</button>
  </div>
  <div class="products__carousel js-flickity" data-flickity='{ "freeScroll": true,  "prevNextButtons": true, "pageDots": false, "dragThreshold": 10 }'>
    <div class="products__carousel--item">
      <div class="products__carousel--text"> 
        <p>How to train Without buttons</p>
        <h5 class="heading-large">"Pre-Training"<br>Worksheet</h5>
      </div>
      <div class="products__carousel--figure">
        {{ 'hijoey-pre-training-btn.png' | asset_url | img_tag: 'Pre-Training image' }}
      </div>
      <div class="products__carousel--link">
          <a href="">Learn More</a>
          <span>
            {{ 'arrow-down-white.svg' | asset_url | img_tag: 'Arrow' }}
          </span>
      </div>
    </div>
    <div class="products__carousel--item"> 
      <div class="products__carousel--text">
        <p>How to assiciate words & buttons</p>
        <h5 class="heading-large">"Modeling"<br>Worksheet</h5>
      </div>
      <div class="products__carousel--figure">
        {{ 'hijoey-modeling-training-btn.png' | asset_url | img_tag: 'Modeling image' }}
      </div>
      <div class="products__carousel--link">
          <a href="https://hijoey.co/pages/free-modeling-worksheet">Learn More</a>
          <span>
            {{ 'arrow-down-white.svg' | asset_url | img_tag: 'Arrow' }}
          </span>
      </div>
    </div>
    <div class="products__carousel--item">
      <div class="products__carousel--text">
        <p>How to press the buttons</p>
        <h5 class="heading-large">"Targeting"<br>Worksheet</h5>
      </div>
      <div class="products__carousel--figure">
        {{ 'hijoey-targeting-training-btn.png' | asset_url | img_tag: 'Targeting Image' }}
      </div>
      <div class="products__carousel--link">
          <a href="https://hijoey.co/pages/targeting-guide">Learn More</a>
          <span>
            {{ 'arrow-down-white.svg' | asset_url | img_tag: 'Arrow' }}
          </span>
      </div>
    </div>
  </div>
  <!--
  <div class="navigation__buttons" data-flickity='{"asNavFor": ".products__carousel", "contain": true, "cellAlign": "cleft", "pageDots": false, "prevNextButtons": false, "draggable": false }'>
    {{ 'arrow-down-grey.svg' | asset_url | img_tag: 'Arrow', 'flickity-button flickity-prev-next-button' }}
    {{ 'arrow-down-grey.svg' | asset_url | img_tag: 'Arrow' }}
  </div>

  -->
</section>

<!---- Enter Multiple Class Wrapper---------->
<div class="wrapper">
<div class>
<div class="rte rte--nomargin rte--indented-images">
<div id="shopify-section-page-training-blog" class="shopify-section">
  
{%- comment -%}
<div class="training_main">
  <section class="section_1">
    <div class="one-third first">
      <div class="container">
        {% if section.settings.sec1_left_title != '' %}
        <h4>
          {{ section.settings.sec1_left_title }}
        </h4>
        {% endif %} {% if section.settings.header != '' %}
        <h1>{{ section.settings.header }}</h1>
        {% endif %}
      </div>
      {% if section.settings.header_subtext != '' %}
      <p>{{ section.settings.header_subtext }}</p>
      {% endif %}
    </div>
    <div class="one-third mobile_half">
      <div class="text_content">
        {% if section.settings.page_link != blank %}
        <a href="{{ section.settings.page_link }}">
          {% if section.settings.center_img != '' %}
          <figure>
            <img src="{{ section.settings.center_img | img_url: '1440x' }}" />
          </figure>
          {% endif %} {% if section.settings.page_title != "" %}
          <div class="caption">
            <span>1</span><label>"{{ section.settings.page_title }}"</label>
          </div>
          {% endif %} {% if section.settings.page_cap != "" %}
          <div class="caption_bottom">
            <p>{{ section.settings.page_cap }}</p>
          </div>
          {% endif %}
        </a>
        {% endif %}
      </div>
    </div>
    <div class="one-third mobile_half">
      <div class="text_content">
        {% if section.settings.right_page_link != blank %}
        <a href="{{ section.settings.right_page_link }}">
          {% if section.settings.right_img != "" %}
          <figure>
            <img src="{{ section.settings.right_img | img_url: '1440x' }}" />
          </figure>
          {% endif %} {% if section.settings.right_page_title != "" %}
          <div class="caption">
            <span>2</span
            ><label>"{{ section.settings.right_page_title }}"</label>
          </div>
          {% endif %} {% if section.settings.right_page_cap != "" %}
          <div class="caption_bottom">
            <p>{{ section.settings.right_page_cap }}</p>
          </div>
          {% endif %}
        </a>
        {% endif %}
      </div>
    </div>
  </section>
</div>

{%- endcomment -%}

{% schema %} { "name": "Training Page", "settings": [ { "type": "header",
"content": "Left Content" }, { "type": "text", "id": "sec1_left_title", "label":
"Left Label" }, { "type": "text", "id": "header", "label": "Header" }, { "type":
"textarea", "id": "header_subtext", "label": "Sub Text" }, { "type": "header",
"content": "Page 1" }, { "type": "image_picker", "id": "center_img", "label":
"Image" }, { "type": "text", "id": "page_title", "label": "Page Title" }, {
"type": "text", "id": "page_cap", "label": "Caption" }, { "id": "page_link",
"type": "url", "label": "Page link" }, { "type": "header", "content": "Page 2"
}, { "type": "image_picker", "id": "right_img", "label": "Image" }, { "type":
"text", "id": "right_page_title", "label": "Page Title" }, { "type": "text",
"id": "right_page_cap", "label": "Caption" }, { "id": "right_page_link", "type":
"url", "label": "Page link" } ] } {% endschema %} {% stylesheet %} {%
endstylesheet %} {% javascript %} {% endjavascript %}
