<div class="wrapper">
  {%if section.settings.Heading %}
  <h2>{{section.settings.Heading}}</h2>
  {%endif%}
  
  <ul class="list stars">
    <li><img src="{{ 'star.svg' | asset_url }}"  alt="Stars" > </li>
    <li><img src="{{ 'star.svg' | asset_url }}"  alt="Stars" > </li>
    <li><img src="{{ 'star.svg' | asset_url }}"  alt="Stars" > </li>
    <li><img src="{{ 'star.svg' | asset_url }}"  alt="Stars" > </li>
    <li><img src="{{ 'star.svg' | asset_url }}"  alt="Stars" > </li>
  </ul>
  
  
  <div class="custom-content testimonial">
  {% for block in section.blocks %}
    {% case block.settings.width %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block.type }}">
        {% case block.type %}
          {% when 'html' %}
            {% if block.settings.code != blank %}
              <h3 class="rte" data-section-id="{{ section.id }}" data-section-type="featured-content-section">
                {{ block.settings.code }}
              </h3>
            {% else %}
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            {% endif %}
        {% endcase %}
         {%if block.settings.cust_name != blank %}
         <h6>{{ block.settings.cust_name }}</h6>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
          <div class="rte text-center">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
   </div>
  {% endif %}
  </div>
</div>



{% schema %}
{  "name": "Testimonial",
    "settings": [
      {
        "id": "Heading",
        "type": "text",
        "label": "Heading"
      }
    ],
      "max_blocks": 10,
  "blocks": [
    {
      "type": "html",
      "name": {
        "en": "Testimonial"
      },
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": {
            "en": "Testimony"
          }
        },
		{
          "type": "text",
          "id": "cust_name",
          "label": {
            "en": "Customer Name"
          }
        },
        {
          "type": "select",
          "id": "width",
          "label": {
            "da": "Containerbredde",
            "de": "Containerbreite",
            "en": "Container width",
            "es": "Ancho del contenedor",
            "fi": "Sisällön leveys",
            "fr": "Largeur du conteneur",
            "hi": "कंटेनर की चौड़ाई",
            "it": "Larghezza contenitore",
            "ja": "コンテナーの幅",
            "ko": "컨테이너 폭",
            "nb": "Beholderbredde",
            "nl": "Containerbreedte",
            "pt-BR": "Largura do contêiner",
            "pt-PT": "Largura do recipiente",
            "sv": "Container-bredd",
            "th": "ความกว้างของความจุ",
            "zh-CN": "容器宽度",
            "zh-TW": "容器寬度"
          },
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": {
                "da": "25 %",
                "de": "25 %",
                "en": "25%",
                "es": "25%",
                "fi": "25 %",
                "fr": "25 %",
                "hi": "25%",
                "it": "25%",
                "ja": "25%",
                "ko": "25%",
                "nb": "25 %",
                "nl": "25%",
                "pt-BR": "25%",
                "pt-PT": "25%",
                "sv": "25 %",
                "th": "25%",
                "zh-CN": "25％",
                "zh-TW": "25%"
              }
            },
            {
              "value": "33%",
              "label": {
                "da": "33 %",
                "de": "33 %",
                "en": "33%",
                "es": "33%",
                "fi": "33 %",
                "fr": "33 %",
                "hi": "33%",
                "it": "33%",
                "ja": "33%",
                "ko": "33%",
                "nb": "33 %",
                "nl": "33%",
                "pt-BR": "33%",
                "pt-PT": "33%",
                "sv": "33 %",
                "th": "33%",
                "zh-CN": "33%",
                "zh-TW": "33%"
              }
            },
            {
              "value": "50%",
              "label": {
                "da": "50 %",
                "de": "50 %",
                "en": "50%",
                "es": "50%",
                "fi": "50 %",
                "fr": "50 %",
                "hi": "50%",
                "it": "50%",
                "ja": "50%",
                "ko": "50%",
                "nb": "50 %",
                "nl": "50%",
                "pt-BR": "50%",
                "pt-PT": "50%",
                "sv": "50 %",
                "th": "50%",
                "zh-CN": "50%",
                "zh-TW": "50%"
              }
            },
            {
              "value": "66%",
              "label": {
                "da": "66 %",
                "de": "66 %",
                "en": "66%",
                "es": "66%",
                "fi": "66 %",
                "fr": "66 %",
                "hi": "66%",
                "it": "66%",
                "ja": "66%",
                "ko": "66%",
                "nb": "66 %",
                "nl": "66%",
                "pt-BR": "66%",
                "pt-PT": "66%",
                "sv": "66 %",
                "th": "66%",
                "zh-CN": "66%",
                "zh-TW": "66%"
              }
            },
            {
              "value": "75%",
              "label": {
                "da": "75 %",
                "de": "75 %",
                "en": "75%",
                "es": "75%",
                "fi": "75 %",
                "fr": "75 %",
                "hi": "75%",
                "it": "75%",
                "ja": "75%",
                "ko": "75%",
                "nb": "75 %",
                "nl": "75%",
                "pt-BR": "75%",
                "pt-PT": "75%",
                "sv": "75 %",
                "th": "75%",
                "zh-CN": "75%",
                "zh-TW": "75%"
              }
            },
            {
              "value": "100%",
              "label": {
                "da": "100 %",
                "de": "100 %",
                "en": "100%",
                "es": "100%",
                "fi": "100 %",
                "fr": "100 %",
                "hi": "100%",
                "it": "100%",
                "ja": "100%",
                "ko": "100%",
                "nb": "100 %",
                "nl": "100%",
                "pt-BR": "100%",
                "pt-PT": "100%",
                "sv": "100 %",
                "th": "100%",
                "zh-CN": "100%",
                "zh-TW": "100%"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "da": "Lodret justering",
            "de": "Vertikale Ausrichtung",
            "en": "Vertical alignment",
            "es": "Alineamiento vertical",
            "fi": "Pystysuuntainen tasaus",
            "fr": "Alignement vertical",
            "hi": "लंबवत पंक्तिबद्धता",
            "it": "Allineamento verticale",
            "ja": "垂直アラインメント",
            "ko": "수직 정렬",
            "nb": "Vertikal justering",
            "nl": "Verticaal uitlijnen",
            "pt-BR": "Alinhamento vertical",
            "pt-PT": "Alinhamento vertical",
            "sv": "Vertikal justering",
            "th": "การจัดวางแนวตั้ง",
            "zh-CN": "垂直对齐",
            "zh-TW": "垂直對齊"
          },
          "default": "top-middle",
          "options": [
            {
              "value": "top-middle",
              "label": {
                "da": "Top",
                "de": "Oben",
                "en": "Top",
                "es": "Parte superior",
                "fi": "Ylös",
                "fr": "En haut",
                "hi": "सबसे ऊपर",
                "it": "Alto",
                "ja": "上",
                "ko": "위쪽",
                "nb": "Topp",
                "nl": "Boven",
                "pt-BR": "Acima",
                "pt-PT": "Acima",
                "sv": "Högst upp",
                "th": "ด้านบน",
                "zh-CN": "顶部",
                "zh-TW": "頂部"
              }
            },
            {
              "value": "center",
              "label": {
                "da": "I midten",
                "de": "Mittig",
                "en": "Middle",
                "es": "Centrar",
                "fi": "Keskelle",
                "fr": "Au milieu",
                "hi": "मध्य में",
                "it": "Centrale",
                "ja": "中央",
                "ko": "중간",
                "nb": "Midten",
                "nl": "Midden",
                "pt-BR": "Meio",
                "pt-PT": "Meio",
                "sv": "Mitten",
                "th": "ตรงกลาง",
                "zh-CN": "中间",
                "zh-TW": "中央"
              }
            },
            {
              "value": "bottom-middle",
              "label": {
                "da": "Bund",
                "de": "Unten",
                "en": "Bottom",
                "es": "Inferior",
                "fi": "Alas",
                "fr": "En bas",
                "hi": "नीचे का",
                "it": "Basso",
                "ja": "下",
                "ko": "아래쪽",
                "nb": "Bunn",
                "nl": "Onder",
                "pt-BR": "Abaixo",
                "pt-PT": "Abaixo",
                "sv": "Längst ner",
                "th": "ด้านล่าง",
                "zh-CN": "底部",
                "zh-TW": "底部"
              }
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Testimonial"
      },
      "category": {
        "en": "Testimonial"
      },
      "blocks": [
        {
          "type": "html"
        }
      ]
    }
  ]
}
{% endschema %}
